
body{
    background-image: url(img/descarga.jpg);
    font-family: 'Montserrat';
    font-weight: 500;
}

@font-face {
    font-family: 'Campton-Medium';
    src: url('/fonts/CamptonMedium.otf');
}


h2 {
    font-family: 'Questrial';
    font-weight: 400;
}

.img-logo {
    position: absolute;
    margin-left: 6%;
    margin-top: 1%;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    color: #999;
}

.separator::before,
.separator::after {
content: '';
flex: 1;
border-bottom: 0.5px solid;
}

.separator:not(:empty)::before {
margin-right: .25em;
}

.separator:not(:empty)::after {
margin-left: .25em;
}


.container{
    background-color: rgba(255, 255, 255, 0.346) !important;
    border-radius: 2rem;
    width: auto;
    height: auto;
    text-align: center;
} 

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
} 

.form-check {
    text-align: left;
}

#btn-login {
    color: white;
    background-color: #FE935B;
    width: 400px;
    border-radius: 2rem;
}

#btn-login:hover {
    color: #FE935B;
    background-color: white;
    border-color: #FE935B;
}

.form-control{
    width: 25rem;
}

.txt-forget{
    color: #FE935B;
    font-weight: 700;
    font-size: 13.9px;
    text-decoration: none;
}

.txt-forget:hover, .txt_cuenta:hover{
    text-decoration: underline;
}

.txt_cuenta {
    text-decoration: none;
    color: #FE935B;
}

.redes {
    display: inline-block;
}

/* ICONOS */
/* enable absolute positioning */
.inner-addon {
    position: relative;
  }
  
  /* style glyph */
  .inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
  }

  .eye{
    position: absolute !important;
    padding: 10px;
    right: 0px;
    color: gray;
  }

  /* align glyph */
  .left-addon .glyphicon  { left:  0px;}
  .right-addon .glyphicon { right: 0px;}
  
  /* add padding  */
  .left-addon input  { padding-left:  30px; }
  .right-addon input { padding-right: 30px; }

  @media (max-width:550px) {
    .container{
        width:
         22rem;      
    }
    .form-control {
        width: 16rem;
    }     
    
    #btn-login {
        width: 250px;
    }
       
  }
