body{
    font-family: 'Montserrat';
}

@font-face {
    font-family: 'Campton-Medium';
    src: url('/fonts/CamptonMedium.otf');
}

#title{
    margin-left: 0px;
    height: auto;
    background-color: #FE935B;
    padding: 0% 5%;
}

/* nav bar */
.navbar {
    background-color: d59e28;
}

.navbar-brand{
    font-weight: 500 !important;
    font-size: 30px;
    letter-spacing: 2px;
    color: white !important;
    margin-left: 5%;
}

.nav-link, .navbar-toggler{
    color: rgba(251, 250, 250, 0.76);
}

.nav-link {
    font-weight: 400;
    font-size: large;
}

.nav-link:hover{
    color: white !important;
}

.img-princ {
    width: 100%;
    padding-top: 10rem;
}

.txt-dsc {
    font-family:'Unbounded';
    color: #fff;
    font-weight: 700;
    font-size: 300%;
    width: 100% !important;
} 

.padre-txt-dsc {
    padding-top: 10rem;
}

.shop-button{
    background-color: black !important;
    color: white;
    margin: 5% 3% 5% 0%;
}

.shop-button:hover{
    background-color: rgba(255, 255, 255, 0.289) !important;
}
  /* Caracteristicas */

#caracteristicas {
    padding: 12% 17%;

}

.card-c, .card-msg {
    padding: 1rem;
    text-align: center;
    height: 90%;
    margin-bottom: 2rem;
    color: #4c4c4c;
    background-color: #FCF6F2;
    border-color: #FCF6F2;
}

.card-msg {
    padding: 4rem;
    border-color: white;
}

.img-caract {
    color: #FFA23E;
    padding-top: 1rem;
}

.card-title{
    font-weight: 600;
}

#new-arrivals {
    padding: 7% 10%;
}

.font_2 {
    font-size: 38px;
    margin-bottom: 5rem;
    font-family: 'Questrial';
    text-align: center;
}

.card{
    margin-bottom: 2rem;
}

/* CARRUSEL */

#carrusel{
    background-color: #EA5823;
    padding-top: 5%;
}

.txt-c1,.txt-c2,.txt-c3  {
    color: #fff; 
    font-size: 50px;
    font-weight: 400;
    line-height: 70px;
    padding: 10% 3rem 2rem 0rem;
    font-family: 'Unbounded';
}

.btn-cropa,.btn-cropa2, .btn-cropa3 {
    color: #fff;
    background-color: transparent;
    font-family: 'Questrial';
    font-weight: 400;
    width: 15rem;
    border: 1px solid #fff;
    float: left;
}

.btn-cropa:hover,.btn-cropa2:hover,.btn-cropa3:hover {
    color:#EA5823;
    background-color: #fff;
}

.btn-cropa3, .txt-c3 {
    margin-left: 20%;
}

.img-carrusel {
    width: auto;
    height: 40rem;
}
.img-carrusel2 {
    width: auto;
    height: 40rem;
}
.img-carrusel3 {
    width: auto;
    height: 40rem;
    float: right;
}

.txt-carrusel {
    padding-right: 2% !important;
}

#footer {
    text-align: left;
    background-color: #FCF6F2;
    font-family: 'Questrial';
}

.row-footer {
    padding: 3% 5% 0% 5%;
}

.list{
    text-decoration: none;
    cursor: pointer;
    color: rgb(83, 62, 63);
}

.correo{
    margin-top: 10px;
    width: 300px;
    height: 35px;
    border:1px solid #EA5823;
    padding-left: 3px;
}

.btn-enviar{
    margin-top: 1rem;
    width: 300px;
    height: 35px;
    background-color: #EA5823;
    color: white;
    border:1px solid #EA5823;
}

.btn-enviar:hover {
    background-color:transparent;
    color: #EA5823;
}

.band-copy {
    text-align: center;
    background-color: #EA5823;
    margin-bottom: 0px;
    color: white;
    margin: 0px !important;
    padding: 20px;
}

@media (max-width:1000px) {
    .txt-dsc {
        font-weight: 700;
    }     
    .navbar {
        margin-bottom: 30px;
    }
    .vertical-center {
        margin-top: 3rem;
    } 
    .img-princ {
        padding-top: 2rem;
    }
    .padre-txt-dsc {
        padding-top: 2rem;
        text-align: center;
    }
    .navbar-brand {
        font-size: 25px;
        margin-left:2.5px;
    }
    .txt-carrusel {
        text-align: center;
    }
    .btn-cropa, .btn-cropa2, .btn-cropa3 {
        margin-bottom: 1rem;
        margin-left: 0rem;
    }
    .img-carrusel2 {
        height: 40rem;
    }
    .txt-c1 {
        margin-right: 1rem;
    }
    .txt-c2 {
        padding-right: 5rem !important;
    }    
    .btn-cropa2{
        margin-left: 16% !important;
    }
    .img-carrusel3 {
        width: auto;
        height: 40rem;
        margin-left: 15%;
    }
    .btn-cropa3{
        margin-left: 20% !important;
    }
    .txt-c3 {
        padding-top: 5rem !important;
        margin-left: 0rem !important;
    }   
}

@media (max-width:900px) {
    .img-carrusel {
        width: 22rem;
        height: 29rem;
    }
    .img-carrusel2 {
        width: 25rem;
        height: 29rem;
        margin-left: 0rem;
        margin-top: 0rem !important;
    }
    .img-carrusel3 {
        width: 20rem;
        height: 29rem;
        margin-top: 0rem !important;
    }
    .txt-c1, .txt-c2, .txt-c3 {
        font-size: 28px;
        padding: 0rem 0rem 1rem 0rem;
        width: auto;
    }

    .btn-cropa2{
        margin-right: 25% !important;
    }
    .btn-cropa3{
        margin-left: 25% !important;
    }

}

@media (max-width:700px) {
    .txt-c2{
        padding: 0rem !important;
        margin-left: 2rem !important;    
        font-size: 25px;
    }
    .btn-cropa2{
        margin-right: 0% !important;
        width: 50%;
    }
    .img-carrusel3 {
        margin-left: 0rem;
    }
    .txt-c3{
        margin-left: 2rem !important;    
        width: 19rem !important; 
        font-size: 25px;
        padding-top: 0rem !important;    
    }

}

@media (max-width:500px) {
    .txt-c2,.txt-c3, .txt-c1 {
        width: auto !important; 
        font-size: 25px;
        padding: 0rem !important;
    }
    .txt-c3, .txt-c2{
        margin-right: 0rem !important;    
    }
    .img-carrusel2 {
        margin-left: 5rem;
        width: auto;
    }
    .img-carrusel3 {
        margin-left: 11rem;
        width: auto;
    }
    .btn-cropa, .btn-cropa2{
        margin-left: 22% !important;
    }

    #footer {
        font-size: 20px;
    }

}